.form {
  display: flex;
  gap: 8px;
}

.form input {
  padding: 10px;
  border-color: rgb(85, 80, 88);
  outline: none;
}

.button {
  padding: 10px;
  background-color: rgb(140, 0, 255);
  color: white;
  border: none;
  cursor: pointer;
}
