.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.listItem {
  flex: 1 1 250px;
  margin: 10px;
  box-sizing: border-box;
  max-width: 250px;
}

.img {
  width: 100%;
  height: auto;
}

.textWrapper {
  padding: 10px;
}

.text {
  margin: 0;
  word-wrap: break-word;
}
